/*  Adobe Fonts */
@import url("https://use.typekit.net/lgh3lyf.css");

/*  Tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Main    */

html {
  background-color: #100f0f;
}

main {
  position: relative;
  z-index: 1;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*  Infinite Marquee  */

.marquee-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.marquee-fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none;
  z-index: 2;
}

.marquee-fade.start {
  left: 0;
  background: linear-gradient(to right, #100f0f, transparent);
}

.marquee-fade.end {
  right: 0;
  background: linear-gradient(to left, #100f0f, transparent);
}

.word {
  white-space: nowrap;
  padding: 0;
  display: inline-block;
  margin-right: 0.5rem;
}

.hollow-text {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.hollow-eyebrow {
  color: transparent;
  -webkit-text-stroke: 1.25px #3f3f46;
}

.blur {
  filter: blur(0.2vw);
}

/*  Calendar Widget */

.book-a-call {
  opacity: 0;
}

/*  Footer  */

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
